RewriteEngine On

RewriteCond %{HTTP_HOST} mustardfoot.github.io/lolfruit [NC]
RewriteRule ^$ /proxy/home.html [L]

RewriteCond %{HTTP_HOST} !^mustardfoot\.github\.io/lolfruit$ [NC]
RewriteRule ^(.*)$ proxy.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ proxy.php [L]
